@import './shared.scss';
@import './themes.scss';
@import './theming.scss';

.app {
  font-family: $serif;
  height: 100vh;
  width: 100vw;

  @include flex(stretch, space-evenly, nowrap);

  @include themify($themes){
    background-color: themed('background');
    color: themed('foreground'); 
  }
  transition: background-color #{$slide-slow}, color #{$slide-fast};
  
  code {
    font-family: $code;
  }
  
  .clear-floating::after {
    content: "";
    clear: both;
    display: table;
  }

  .center-panel {
    @media screen and (min-width: 992px) {
      width: 50%
    }

    @media screen and (max-width: 992px) {
      width: 75%
    }

    @media screen and (max-width: 600px) {
      width: 100%
    }

    transition: width #{$slide-slow};
    padding: 1%;
  }


  .title {
    width: 100%;
  }

  .title-image {
    width: 30%;
    height: auto;
  }
  
  .about {
    width: 95%;
  }

  .navigation-images .container{
    position: relative;
    width: 25%;

    & p {
      position: absolute;
      top: 50%;
      opacity: 0;
      transition: opacity #{$slide-slow};
    }

    & img {
      width: 98%;
      height: auto;
      transition: opacity #{$slide-slow};
    }
  }

  @media screen and (max-width: 600px) {
    .title-image {
      width: 30%;
      height: auto;
    }
    .navigation-images {
      flex-direction: column;
      & .container {
        width:100%;
      }
      & img {
        width: 50%;
      }
      & p {
        display: none;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .navigation-images .container:hover {
      & img {
        opacity: 0;
      }
      & p {
        opacity: 1;
      }
    }
  }

}
