/* header.scss */
@import './shared.scss';
@import './theming.scss';

header {
  height: $header-size;
  padding: $container-padding;
}

header .title {
  font-family: $title;
  padding: 0 $container-padding;
  font-size: $header-size;
}

header .logo {
  transition: fill #{$slide-extra-slow};
  @include themify($themes) {
    fill: themed('foreground'); 
  }
  height: $header-size;
  width: $header-size;
  &:hover {
    @include themify($themes) {
      fill: themed('foregroundHover');
    }
  }
}

.title-group {
  float: left;
  cursor: pointer;
}

.room-group {
  float: right;
  text-align:right;
}
