/*styling variables*/
$container-padding: 10px;
$slide-extra-slow: 1.5s ease;
$slide-slow: 0.75s ease;
$slide-mid: 0.5s ease;
$slide-fast: 0.15s ease;

/*color variables*/
$mid-grey: #999999;
$background-color: #000000;
$foreground-color: #ffffff;

/*font variables*/
$serif: 'EB Garamond', serif;
$sans-serif: 'Open Sans','Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
$title: $serif;
$code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$type-scale: 1.2rem;


@mixin flex($vertical-alignment, $horizontal-justify, $wrap, $direction: row)  {
  display: flex;
  justify-content: #{$horizontal-justify};
  flex-wrap: #{$wrap};
  flex-direction: $direction;
  align-items: #{$vertical-alignment};
}

.container {
  @include flex(stretch, space-evenly, wrap);
}
